:root {
  --theme-blue: rgb(65, 109, 177);
  --dark-gray: #3f3f3f;
  --light-gray: #ccc;
  --error-red: rgb(255, 64, 64);
  --form-margin: 35px;
}

@font-face {
  font-family: Norse-Bold;
  src: url("static/Norse-Bold.otf") format(opentype);
}

body {
  margin: 0;
  background-color: #222;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

.content {
  background: url("static/rohit-tandon-9wg5jCEPBsw-unsplash.jpg") 100vw;
  display: flex;
  flex-direction: row;
  margin: 0;
  width: min(1300px, 100%);
}

.left,
.right {
  min-height: 100vh;
  margin: 0;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.left > .title {
  color: white;
  background: black;
  opacity: 0.7;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 150px;
  margin-top: 20vh;
}

.left > .title > img {
  width: 100px;
}

.left > .title > h1 {
  font-size: 6rem;
  font-family: Norse-Bold;
  margin-top: 90px;
}

.left > .caption {
  color: black;
  text-align: center;
  opacity: 0.7;
  margin-bottom: 10px;
}

.caption > a {
  color: black;
}

.right {
  background-color: #eee;
  height: 98vh;
  width: 100%;
  flex: 5;
}

.left {
  flex: 3;
}

.right a {
  color: var(--theme-blue);
}

.right > .title {
  margin-top: 15vh;
}

h2 {
  font-size: 1.5rem;
  margin-left: var(--form-margin);
  font-weight: 550;
}

form {
  background-color: white;
  box-shadow: 0 5px 5px var(--light-gray);
  padding-top: 5px;
  padding-bottom: 20px;
}

form > h2 {
  color: var(--dark-gray);
}

.form-items {
  margin-left: var(--form-margin);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.form-item {
  margin: 0px 60px 30px 0px;
}

label {
  display: block;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 600;
  color: var(--dark-gray);
}

input {
  width: 200px;
  border-radius: 5px;
  border: 1.5px solid var(--light-gray);
  font-size: 1rem;
  color: var(--dark-gray);
  padding: 5px 10px;
}

input:focus {
  box-shadow: 5px 5px 5px var(--light-gray);
}

input:invalid {
  border-color: var(--error-red);
}

button {
  background: var(--theme-blue);
  color: white;
  margin-left: var(--form-margin);
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  width: 220px;
  height: 40px;
  font-size: 1rem;
}

button + p {
  font-size: 1rem;
  margin-left: var(--form-margin);
}
